<!-- templates/all_histories.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todas las Historias</title>
</head>
<body>
    <h2>Todas las Historias Registradas</h2>
    
    {% if historias %}
        <ul>
            {% for historia in historias %}
                <li>{{ historia.fields.iddbauthor }} - {{ historia.fields.cc }} - {{ historia.fields.motivo }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay historias registradas.</p>
    {% endif %}
</body>
</html>
